In [1]:
# read data
import pandas as pd
dict_rest = pd.read_pickle("crawled_data.pickle")

In [ ]:
# analyze all non-zero popularity
a = [d[5]['data'] for d in populartimes]
b = [list(filter(lambda i: i != 0,d)) for d in a]
len_b = [len(d) for d in b]
len_b

In [33]:
# organize data 
ids = [d["id"] for d in dict_rest]
names = [d["name"] for d in dict_rest]
lats = [d["coordinates"]["lat"] for d in dict_rest]
lngs = [d["coordinates"]["lng"] for d in dict_rest]
ratings = [ d["rating"] for d in dict_rest]
rating_ns = [ d["rating_n"] for d in dict_rest]
populartimes = [ d["populartimes"] for d in dict_rest]
poptime_sat = [ d[5]['data'] for d in populartimes]
poptime_sat_12 = [d[12] for d in poptime_sat]

In [67]:
selected_data = {'ids':ids,'names':names,'lats':lats,'lngs':lngs,\
                 'ratings':ratings,'rating_ns':rating_ns,'poptime_sat_12':poptime_sat_12}

In [68]:
df = pd.DataFrame(selected_data)

In [70]:
df_model = df[['ratings','poptime_sat_12']]

In [71]:
df_model

     ratings  poptime_sat_12
0        3.9             100
1        4.4              26
2        3.8               0
3        3.9              27
4        4.5               0
5        4.5             100
6        3.6               0
7        4.3              19
8        4.2               0
9        4.2              72
10       4.2               9
11       3.9              39
12       4.2              36
13       3.9              13
14       4.0              40
15       3.8              70
16       4.4               0
17       4.3              10
18       4.1              14
19       4.0              35
20       4.2              28
21       4.2              49
22       3.9               7
23       4.2               0
24       4.1              16
25       3.7              30
26       4.3              61
27       4.4              17
28       3.8              42
29       4.0              36
..       ...             ...
599      4.3              33
600      4.1              37
601      3.7               0
602      4.4              32
603      4.5               0
604      4.2              55
605      3.9              49
606      3.8              44
607      4.4               0
608      4.3              26
609      4.1              41
610      4.2              48
611      4.3              32
612      4.0              48
613      4.4              62
614      4.2              22
615      4.2              22
616      4.4              25
617      4.0              50
618      4.4               0
619      4.4               0
620      4.3              40
621      4.3             100
622      4.5              52
623      4.5              45
624      4.3               8
625      4.4               0
626      4.6              34
627      4.6              61
628      4.1              44

[629 rows x 2 columns]